[Unit]
Description=LLVM Version Maintenance Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/llvm-maintenance

[Install]
WantedBy=multi-user.target
