[Unit]
Description=GCC Version Maintenance Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gcc-maintenance

[Install]
WantedBy=multi-user.target
