[Unit]
Description=Node Version Maintenance Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/node-maintenance
