[Unit]
Description=Node Version Maintenance Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=$HOME/.local/bin/node-maintenance
