[Unit]
Description=PlantUML Version Maintenance Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/plantuml-maintenance

[Install]
WantedBy=multi-user.target
